*{background-color: black;}
h1{font-size: 70px;}
body{padding-left: 5%; padding-right: 5%; font-family: 'Noto Sans KR', sans-serif; color: white; text-align: center;}
h2{font-size: 50px; text-align: left;}
ul{font-size: 35px; text-align: left; list-style: none; padding: 30px;}
li{font-size: 35px; text-align: left;}